;;;;
;;;; MyBank Customer Channels Domain Model
;;;;
#{{:el :context-boundary
   :id :mybank.customer-channels/context-boundary
   :name "Customer Channels"
   :desc "Interfaces for customer interaction, including branch systems, ATMs, and call centers."
   :ct #{{:el :system
          :id :mybank.customer-channels/branch-systems
          :name "Branch Systems"
          :desc "Software and hardware for in-branch banking services."
          :tech "Java and Swing"}
         {:el :system
          :id :mybank.customer-channels/atm
          :name "ATM"
          :desc "Allows customers to withdraw cash."
          :tech "C++ and Java"}
         {:el :system
          :id :mybank.customer-channels/contact-center-system
          :name "Contact Center"
          :desc "Telephony and customer support systems for call centers."
          :tech "Genesys and Avaya"}}}}
