;;;;
;;;; MyBank Risk Management Domain Model
;;;;
#{{:el :context-boundary
   :id :mybank.risk-management/context-boundary
   :name "Risk Management and Compliance"
   :desc "Detects and mitigates risks, ensuring regulatory compliance."
   :ct #{{:el :system
          :id :mybank.risk-management/aml-system
          :name "Anti-Money Laundering (AML) System"
          :desc "Monitors and prevents money laundering activities."
          :tech "Python and Scikit-learn"}
         {:el :system
          :id :mybank.risk-management/fraud-detection-system
          :name "Fraud Detection System"
          :desc "Detects and mitigates fraudulent activities."
          :tech "Python and TensorFlow"}
         {:el :system
          :id :mybank.risk-management/compliance-system
          :name "Compliance System"
          :desc "Ensures operations comply with regulations."
          :tech "Java and Spring Boot"}}}
  }
