;;;;
;;;; MyBank Project Management and Development Domain Model
;;;;
#{;
  ;;;
  ;;; Organization
  ;;;
  {:el :org-unit
   :id :mybank.project-management/projects-org
   :name "Projects"
   :desc "Responsible for MyBank Projects"}

  ;;;
  ;;; Roles
  ;;;
  {:el :person
   :id :mybank.project-management/project-manager
   :name "Project Manager"
   :desc "Manages projects at MyBank."}

  {:el :person
   :id :mybank.project-management/devops-engineer
   :name "DevOps Engineer"
   :desc "Develops and operates software systems."}

  {:el :capability
   :id :mybank.project-management/manage-projects
   :name "Manage Projects"
   :desc ""}

  {:el :process
   :id :mybank.project-management/project-management
   :name "Project Management"
   :desc ""}

  {:el :process
   :id :mybank.project-management/requirements-management
   :name "Requirements Management"
   :desc ""}

  {:el :process
   :id :mybank.project-management/software-development
   :name "Software Development"
   :desc ""}

  {:el :process
   :id :mybank.project-management/test-management
   :name "Test Management"
   :desc ""}

  {:el :process
   :id :mybank.project-management/config-management
   :name "Config Management"
   :desc ""}

  {:el :process
   :id :mybank.project-management/release-management
   :name "Release Management"
   :desc ""}

  {:el :process
   :id :mybank.project-management/operations
   :name "Operations"
   :desc ""}

  ;;;
  ;;; System Architecture
  ;;;
  {:el :context-boundary
   :id :mybank.project-management/context-boundary
   :name "Project Management and Development"
   :desc "Tools for managing projects and software development."
   :ct #{{:el :system
          :id :mybank.project-management/project-management-tools
          :name "Project Management Tools"
          :desc "Platforms for planning, executing, and tracking projects."
          :tech "Jira"}
         {:el :system
          :id :mybank.project-management/dev-platforms
          :name "Development Platforms"
          :desc "Tools for software development, testing, and deployment."
          :tech "Jenkins, GitLab"}}}}
