;;;;
;;;; MyBank Core Banking Domain Views
;;;;
#{{:el :context-view
   :id :mybank.financial-management/context-view
   :selection [{:namespace-prefix "mybank.financial-management"}
               {:to {:namespace-prefix "mybank.financial-management"}}]
   :include :related
   :name "Financial Management Context View"
   :title "Context View of the Financial Management Systems"
   :desc "Shows the systems of the domain Financial Management and their relations."}
  
  {:el :container-view
   :id :mybank.financial-management/container-view
   :selection [{:namespace-prefix "mybank.financial-management"}
               {:to {:namespace-prefix "mybank.financial-management"}}]
   :include :related
   :name "Financial Management Container View"
   :title "Container View of the Financial Management Systems"
   :desc "Shows the systems and containers of the domain Financial Management and their relations."}

  ;
  }