;;;;
;;;; MyBank Human Resources Domain Model
;;;;
#{;

  {:el :org-unit
   :id :mybank.organization/human-resources-unit
   :name "Human Resources"
   :desc "Central management of human resources"
   :ct [{:el :org-unit
         :id :mybank.organization.hr/recruiting
         :name "Recruiting"
         :desc "Responsible for recruiting new employees"}]}
  {:el :contained-in
   :from :mybank.organization/human-resources-unit
   :to :mybank/my-bank-organization
   :name "unit of"
   :desc "Human Resources is a unit of My Bank."}

  {:el :context-boundary
   :id :mybank.human-resources/context-boundary
   :name "Human Resources Management"
   :desc "Manages employee information, payroll, and talent management."
   :ct #{{:el :system
          :id :mybank.human-resources/hris
          :name "HR Information Systems (HRIS)"
          :desc "Manages employee data, payroll, and benefits."
          :tech "Workday"}
         {:el :system
          :id :mybank.human-resources/talent-management-system
          :name "Talent Management"
          :desc "Tools for recruitment, training, and performance management."
          :tech "SAP SuccessFactors"}}}}
