;;;;
;;;; Views for the Mybank Concepts
;;;;
#{;
  ;;;
  ;;; Concept Views
  ;;;
  {:el :concept-view
   :id :mybank.concepts/concept-view
   :selection {:namespace-prefix "mybank.concepts"} 
   :name "High Level Concept Map"
   :title "High Level Banking Concepts"
   :desc "Shows the high level concepts of banking and their relations"
   }
  }