;;;;
;;;; MyBank Digital Banking Domain Model
;;;;
#{;
  ;;;
  ;;; Architecture
  ;;;
  
  ;; Nodes
  {:el :context-boundary
   :id :mybank.digital-banking/context-boundary
   :name "Digital Banking"
   :desc "Enables online and mobile banking services for customers."
   :ct #{{:el :system
          :id :mybank.digital-banking/digital-wallets-system
          :name "Digital Wallets"
          :desc "Supports digital wallet integration and mobile payments."
          :tech "Node.js and Express"}}}

  ;; Relationships

  ;
  }
