;;;;
;;;; Views for the Azure IT Management
;;;;
#{;
  
  {:el :deployment-view
   :id :mybank.it-management.azure/deployment-view
   :spec {:selection {:namespace-prefix "mybank.it-management.azure"
                      :to-namespace-prefix "mybank.it-management.azure"}
          :include :related
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "Azure Deployment View"
   :title "Deployment View of the IT Management Azure Cloud"
   :desc "Shows the nodes and containers of the IT management Azure cloud infrastructure."}

  {:el :deployment-structure-view
   :id :mybank.it-management.azure/azure-deployment-structure-view
   :spec {:selection {:id :mybank.it-management.azure/mybank-azure-tenant}
          :include :related
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "Azure Deployment Structure View"
   :title "Azure Deployment View for the MyBank Systems"
   :desc "Shows the hierarchical structure of the Azure platform deployment"}

;
  }