;;;;
;;;; MyBank IT Management Domain Model
;;;;
#{;;;
  ;;; Orgnization
  ;;;
  {:el :org-unit
   :id :mybank.it-management/it-management-unit
   :name "IT Management"
   :desc "Responsible for the IT platform of MyBank"
   :ct #{{:el :org-unit
          :id :mybank.it-management/azure-unit
          :name "Azure Platform"
          :desc "Responsible for the Azure cloud platform."}
         {:el :org-unit
          :id :mybank.it-management/aws-unit
          :name "AWS Platform"
          :desc "Responsible for the AWS cloud platform."}
         {:el :org-unit
          :id :mybank.it-management/onprem-unit
          :name "On Premise Datacenter"
          :desc "Responsible for the On Premise Datacenter."}}}

  {:el :contained-in
   :id :mybank.it-management/it-management-unit-contained-in-my-bank-organization
   :from :mybank.it-management/it-management-unit
   :to :mybank/my-bank-organization
   :name "unit of"
   :desc "IT Management unit is part of MyBank."}

  ;;;
  ;;; Roles
  ;;;
  {:el :person
   :id :mybank.it-management/cloud-solution-architect
   :name "Cloud Solution Architect"
   :desc "Designs cloud solutions"}

  {:el :person
   :id :mybank.it-management/cloud-operations-specialist
   :name "Cloud Operations Specialist"
   :desc "Operates cloud infrastructure"}

  {:el :person
   :id :mybank.it-management/cloud-finops-specialist
   :name "Cloud FinOps Specialist"
   :desc "Operates cloud infrastructure and controls costs"}

  {:el :person
   :id :mybank.it-management/it-manager
   :name "IT Manager"
   :desc "Manages the IT platform"}

  {:el :person
   :id :mybank.it-management/network-engineer
   :name "Network Engineer"
   :desc "Designs and operates network infrastructure"}
  {:el :person
   :id :mybank.it-management/security-engineer
   :name "Security Engineer"
   :desc "Designs and operates security infrastructure"}
  {:el :person
   :id :mybank.it-management/database-administrator
   :name "Database Administrator"
   :desc "Manages databases"}

  ;;;
  ;;; Role Assignments
  ;;; 
  {:el :role-in
   :id :mybank.it-management/cloud-solution-architect-role-in-azure-unit
   :from :mybank.it-management/cloud-solution-architect
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Architects solutions on the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-solution-architect-role-in-aws-unit
   :from :mybank.it-management/cloud-solution-architect
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Architects solutions on the AWS platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-operations-specialist-role-in-azure-unit
   :from :mybank.it-management/cloud-operations-specialist
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Operates the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-operations-specialist-role-in-aws-unit
   :from :mybank.it-management/cloud-operations-specialist
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Operates the AWS platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-finops-specialist-role-in-azure-unit
   :from :mybank.it-management/cloud-finops-specialist
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Operations and cost control for the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-finops-specialist-role-in-aws-unit
   :from :mybank.it-management/cloud-finops-specialist
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Operations and cost control for the AWS platform"}

  {:el :role-in
   :id :mybank.it-management/network-engineer-role-in-onprem-unit
   :from :mybank.it-management/network-engineer
   :to :mybank.it-management/onprem-unit
   :name "role in"
   :desc "Designs and operates network infrastructure in the On Premise Datacenter"}
  {:el :role-in
   :id :mybank.it-management/security-engineer-role-in-onprem-unit
   :from :mybank.it-management/security-engineer
   :to :mybank.it-management/onprem-unit
   :name "role in"
   :desc "Designs and operates security infrastructure in the On Premise Datacenter"}
  {:el :role-in
   :id :mybank.it-management/database-administrator-role-in-onprem-unit
   :from :mybank.it-management/database-administrator
   :to :mybank.it-management/onprem-unit
   :name "role in"
   :desc "Manages databases in the On Premise Datacenter"}

  ;;;
  ;;; System Architecture
  ;;;
  {:el :context-boundary
   :id :mybank.it-management/context-boundary
   :name "IT Management"
   :desc "Manages IT infrastructure, cloud resources, and system monitoring."
   :ct #{{:el :system
          :id :mybank.infrastructure-management/it-infrastructure-system
          :name "IT Infrastructure"
          :desc "Hardware and software resources, including servers and networking."
          :tech "VMware, Cisco"}
         {:el :system
          :id :mybank.infrastructure-management/cloud-services-system
          :name "Cloud Services"
          :desc "Cloud computing resources for scalability and flexibility."
          :tech "AWS, Azure"}
         {:el :system
          :id :mybank.infrastructure-management/system-monitoring-system
          :name "System Monitoring"
          :desc "Monitors system performance and health."
          :tech "Nagios, Prometheus"}}}

  {:el :link
   :id :mybank.it-management.azure/alz1-vnet1-peered-to-hub-vnet
   :from :mybank.it-management.azure/alz1-vnet-europe
   :to :mybank.it-management.azure/hub-vnet-europe
   :name "peered to"
   :tech "Azure Virtual Network Peering"
   :desc "Provides connectivity for the spoke"
   :tags #{"platform" "cloud"}}

  {:el :responsible-for
   :id :mybank.it-management/azure-unit-responsible-for-azure-tenant
   :from :mybank.it-management/azure-unit
   :to :mybank.it-management.azure/mybank-azure-tenant
   :name "responsible for"}
  ;
  }
