;;;;
;;;; MyBank IT Management Domain Model
;;;;
#{;;;
  ;;; Orgnization
  ;;;
  {:el :org-unit
   :id :mybank.it-management/it-management-org
   :name "IT Management"
   :desc "Responsible for the IT platform of MyBank"
   :ct #{{:el :org-unit
          :id :mybank.it-management/azure-unit
          :name "Azure Platform"
          :desc "Responsible for the Azure platform."}
         {:el :org-unit
          :id :mybank.it-management/aws-unit
          :name "AWS Platform"
          :desc "Responsible for the AWS platform."}}}

  ;;;
  ;;; Roles
  ;;;
  {:el :person
   :id :mybank.it-management/cloud-solution-architect
   :name "Cloud Solution Architect"
   :desc "Designs cloud solutions"}

  {:el :person
   :id :mybank.it-management/cloud-operations-specialist
   :name "Cloud Operations Specialist"
   :desc "Operates cloud infrastructure"}

  {:el :person
   :id :mybank.it-management/cloud-finops-specialist
   :name "Cloud FinOps Specialist"
   :desc "Operates cloud infrastructure and controls costs"}

  ;;;
  ;;; Role Assignments
  ;;; 
  {:el :role-in
   :id :mybank.it-management/cloud-solution-architect-role-in-azure-unit
   :from :mybank.it-management/cloud-solution-architect
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Architects solutions on the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-solution-architect-role-in-aws-unit
   :from :mybank.it-management/cloud-solution-architect
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Architects solutions on the AWS platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-operations-specialist-role-in-azure-unit
   :from :mybank.it-management/cloud-operations-specialist
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Operates the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-operations-specialist-role-in-aws-unit
   :from :mybank.it-management/cloud-operations-specialist
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Operates the AWS platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-finops-specialist-role-in-azure-unit
   :from :mybank.it-management/cloud-finops-specialist
   :to :mybank.it-management/azure-unit
   :name "role in"
   :desc "Operations and cost control for the Azure platform"}
  {:el :role-in
   :id :mybank.it-management/cloud-finops-specialist-role-in-aws-unit
   :from :mybank.it-management/cloud-finops-specialist
   :to :mybank.it-management/aws-unit
   :name "role in"
   :desc "Operations and cost control for the AWS platform"}

  ;;;
  ;;; System Architecture
  ;;;
  {:el :context-boundary
   :id :mybank.it-management/context-boundary
   :name "IT Management"
   :desc "Manages IT infrastructure, cloud resources, and system monitoring."
   :ct #{{:el :system
          :id :mybank.infrastructure-management/it-infrastructure-system
          :name "IT Infrastructure"
          :desc "Hardware and software resources, including servers and networking."
          :tech "VMware, Cisco"}
         {:el :system
          :id :mybank.infrastructure-management/cloud-services-system
          :name "Cloud Services"
          :desc "Cloud computing resources for scalability and flexibility."
          :tech "AWS, Azure"}
         {:el :system
          :id :mybank.infrastructure-management/system-monitoring-system
          :name "System Monitoring"
          :desc "Monitors system performance and health."
          :tech "Nagios, Prometheus"}}}

  {:el :node
   :id :mybank.it-management.azure/mybank-tenant
   :name "MyBank Azure Tenant"
   :tech "Azure"
   :desc "Azure Tenant for MyBank"
   :tags #{"platform" "cloud"}
   :ct #{{:el :node
          :id :mybank.it-management.azure/platform-management-group
          :name "Platform Management Group"
          :ct #{{:el :node
                 :id :mybank.it-management.azure/connectivity-subscription
                 :name "Connectivity Subscription"
                 :tech "Azure Subscription"
                 :desc "Subscription for the Connectivity Infrastructure"
                 :tags #{"platform" "cloud"}
                 :ct #{{:el :node
                        :id :mybank.it-management.azure/hub-vnet
                        :name "Hub VNet"
                        :tech "Azure Virtual Network"
                        :desc "VNet for the hub infrastructure"
                        :tags #{"platform" "cloud"}
                        :ct #{}}}}
                {:el :node
                 :id :mybank.it-management.azure/identity-subscription
                 :name "Identity Subscription"
                 :tech "Azure Subscription"
                 :desc "Subscription for the IAM Infrastructure"
                 :tags #{"platform" "cloud"}}
                {:el :node
                 :id :mybank.it-management.azure/management-subscription
                 :name "Management Subscription"
                 :tech "Azure Subscription"
                 :desc "Subscription for the Management Infrastructure"
                 :tags #{"platform" "cloud"}}
                {:el :node
                 :id :mybank.it-management.azure/lz-kafka-subscription
                 :name "LZ Kafka Subscription"
                 :tech "Azure Subscription"
                 :desc "Subscription for the central Kafka infrastructure"
                 :tags #{"platform" "cloud"}
                 :ct #{{:el :node
                        :id :mybank.it-management.azure/lz-kafka-vnet
                        :name "LZ Kafka VNet"
                        :tech "Azure Virtual Network"
                        :desc "VNet for the Kafka infrastructure"
                        :tags #{"platform" "cloud"}
                        :ct #{{:el :node
                               :id :mybank.it-management.azure/lz-kafka-subnet
                               :name "Kafka Subnet"
                               :tech "Azure Subnet"
                               :tags #{"platform" "cloud"}}}}}}
                }}
         {:el :node
          :id :mybank.it-management.azure/landing-zone-management-group
          :name "Landing Zone Management Group"
          :ct #{{:el :node
                 :id :mybank.it-management.azure/lz1-subscription
                 :name "LZ1 Subscription"
                 :tech "Azure Subscription"
                 :desc "Subscription for the landing zone 1"
                 :tags #{"platform" "cloud"}
                 :ct #{{:el :node
                        :id :mybank.it-management.azure/lz1-vnet1
                        :name "VNet 1"
                        :tech "Azure Virtual Network"
                        :desc "VNet for a spoke infrastructure"
                        :tags #{"generic" "cloud"}
                        :ct #{}}}}}}}}

  {:el :node
   :id :mybank.it-management.onprem/data-center
   :name "MyBank On Premise Datacenter"
   ;:tech "Azure"
   :desc "Data Center of MyBank"
   :tags #{"platform" "onprem"}
   :ct #{}}

  {:el :link
   :id :mybank.it-management.onprem/data-center-links-to-hub-vnet
   :from :mybank.it-management.onprem/data-center
   :to :mybank.it-management.azure/hub-vnet
   :name "network link"
   :tech "Azure Express Route"
   :desc "High speed/volume link 100 Mb/s"
   :tags #{"platform" "cloud"}}

  {:el :link
   :id :mybank.it-management.azure/spoke-vnet1-peered-to-hub-vnet
   :from :mybank.it-management.azure/lz1-vnet1
   :to :mybank.it-management.azure/hub-vnet
   :name "peered to"
   :tech "Azure Virtual Network Peering"
   :desc "Provides connectivity for the spoke"
   :tags #{"platform" "cloud"}}

  {:el :responsible-for
   :id :mybank.it-management/azure-unit-responsible-for-azure-tenant
   :from :mybank.it-management/azure-unit
   :to :mybank.it-management.azure/mybank-tenant
   :name "responsible for"}
  ;
  }
