#{{:el :context-view
   :id :mybank.it-management/context-view
   :spec {:selection [{:namespace-prefix "mybank.it-management"}
                      {:to {:namespace-prefix "mybank.it-management"}}]
          :include :related
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "IT Management Context View"
   :title "Context View of the IT Management Systems"
   :desc "Shows the systems of the domain IT management and their relations."}

  {:el :container-view
   :id :mybank.it-management/container-view
   :spec {:selection [{:namespace-prefix "mybank.it-management"}
                      {:to {:namespace-prefix "mybank.it-management"}}]
          :include :related
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "IT Management Container View"
   :title "Container View of the IT Management Systems"
   :desc "Shows the systems and containers of the domain IT management and their relations."}

  {:el :deployment-view
   :id :mybank.it-management/deployment-view
   :spec {:selection [{:namespace-prefix "mybank.it-management"}
                      {:to {:namespace-prefix "mybank.it-management"}}]
          :include :related
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "IT Management Deployment View"
   :title "Deployment View of the IT Management Systems"
   :desc "Shows the nodes and containers of the domain IT management infrastructure."}

  ;
  }