;;;;
;;;; Banking Example
;;;;
#{;;; 
  ;;; Nodes
  ;;;
  {:el :enterprise-boundary
   :id :mybank/my-bank-plc
   :name "My Bank"
   :ct #{; Core Banking System
         {:ref :mybank.core-banking/context-boundary}

         ; Digital Banking
         {:ref :mybank.digital-banking/context-boundary}

         ; Payment Systems
         {:ref :mybank.payment/context-boundary}

         ; Risk Management and Compliance
         {:ref :mybank.risk-management/context-boundary}

         ; Data Management and Analytics
         {:ref :mybank.data-management/context-boundary}

         ; Security
         {:ref :mybank.security/context-boundary}

         ; IT Management
         {:ref :mybank.it-management/context-boundary}

         ; Customer Channels
         {:ref :mybank.customer-channels/context-boundary}

         ; Integration and Middleware
         {:el :context-boundary
          :id :mybank/integration-middleware-context
          :name "Integration and Middleware"
          :desc "Facilitates integration across systems."
          :ct #{{:el :system
                 :id :mybank.integration-middleware/esb
                 :name "Enterprise Service Bus (ESB)"
                 :desc "Middleware for integrating various banking systems."
                 :tech "MuleSoft"}
                {:el :system
                 :id :mybank.integration-middleware/api-gateway
                 :name "API Gateway"
                 :desc "Manages APIs for third-party services and fintech apps."
                 :tech "Kong"}
                {:el :system
                 :id :mybank.integration-middleware/soa
                 :name "Service-Oriented Architecture (SOA)"
                 :desc "Framework for enabling seamless integration between services."
                 :tech "Apache CXF"}}}

         ; Financial Management
         {:ref :mybank.financial-management/context-boundary}

         ; Human Resources Management
         {:ref :mybank.human-resources/context-boundary}

         ; Project Management and Development
         {:ref :mybank.project-management/context-boundary}

         ; External Systems
         {:el :system
          :id :mybank/email-system
          :external true
          :name "E-mail System"
          :desc "The internal Microsoft Exchange email system."}}}

  ;;;
  ;;; Relations
  ;;;
  ;;
  ;; Context Level
  ;;
  {:el :request
   :id :mybank.user-role/personal-customer-uses-internet-banking-system
   :from :mybank.user-role/personal-customer
   :to :mybank/internet-banking-system
   :name "views account balances and makes payments using"}

  {:el :send
   :id :mybank/email-system-sends-mail-to-personal-customer
   :from :mybank/email-system
   :to :mybank.user-role/personal-customer
   :name "sends e-mail to"}

  {:el :request
   :id :mybank.core-banking/loan-management-system-uses-account-management-system
   :from :mybank.core-banking/loan-management-system
   :to :mybank.core-banking/account-management-system
   :name "retrieves customer account information from"}

  {:el :request
   :id :mybank.digital-banking/internet-banking-system-uses-payment-gateway-system
   :from :mybank.digital-banking/internet-banking-system
   :to :mybank.payment/payment-gateway-system
   :name "processes customer payments using"}

  {:el :request
   :id :mybank.payment/payment-gateway-system-uses-transaction-processing-system
   :from :mybank.payment/payment-gateway-system
   :to :mybank.core-banking/transaction-processing-system
   :name "validates and processes payments using"}

  {:el :request
   :id :mybank.risk-management/risk-management-system-uses-transaction-processing-system
   :from :mybank.risk-management/risk-management-system
   :to :mybank.core-banking/transaction-processing-system
   :name "fetches transaction history and customer data from"}

  {:el :request
   :id :mybank/analytics-system-uses-transaction-processing-system
   :from :mybank/analytics-system
   :to :mybank.core-banking/transaction-processing-system
   :name "gathers data for analysis from"}

  {:el :request
   :id :mybank/analytics-system-uses-account-management-system
   :from :mybank/analytics-system
   :to :mybank.core-banking/account-management-system
   :name "gathers data for analysis from"}

  {:el :request
   :id :mybank/internet-banking-system-uses-analytics-system
   :from :mybank/internet-banking-system
   :to :mybank/analytics-system
   :name "sends usage data for analysis using"}

  {:el :request
   :id :mybank/risk-management-system-uses-analytics-system
   :from :mybank/risk-management-system
   :to :mybank/analytics-system
   :name "analyzes data for risk assessment using"}

  ;;
  ;; Container level
  ;;
  {:el :request
   :id :mybank.user-role/personal-customer-uses-web-app
   :from :mybank.user-role/personal-customer
   :to :mybank/web-app
   :name "visits bigbank.com/ib using"
   :tech "HTTPS"}

  {:el :request
   :id :mybank.user-role/personal-customer-uses-single-page-app
   :from :mybank.user-role/personal-customer
   :to :mybank.digital-banking/single-page-app
   :name "views account balances and makes payments using"}

  {:el :request
   :id :mybank.user-role/personal-customer-uses-mobile-app
   :from :mybank.user-role/personal-customer
   :to :mybank/mobile-app
   :name "views account balances and makes payments using"}

  {:el :request
   :id :mybank.core-banking/loan-management-system-uses-api-application
   :from :mybank.core-banking/loan-management-system
   :to :mybank.digital-banking/api-application
   :name "retrieves loan-related information via API calls"}

  {:el :request
   :id :mybank/risk-management-system-uses-api-application
   :from :mybank/risk-management-system
   :to :mybank.digital-banking/api-application
   :name "fetches transaction data via API calls"}

  {:el :request
   :id :mybank/payment-gateway-system-uses-api-application
   :from :mybank/payment-gateway-system
   :to :mybank.digital-banking/api-application
   :name "validates transactions via API calls"}

  {:el :request
   :id :mybank/analytics-system-uses-database
   :from :mybank/analytics-system
   :to :mybank/database
   :name "stores and retrieves analytical data using"
   :tech "Datalog"}

  ;;
  ;; Component level
  ;;
  {:el :request
   :id :mybank.digital-banking/single-page-app-calls-sign-in-controller
   :from :mybank.digital-banking/single-page-app
   :to :mybank.digital-banking/sign-in-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking/single-page-app-calls-reset-password-controller
   :from :mybank.digital-banking/single-page-app
   :to :mybank/reset-password-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking/single-page-app-calls-accounts-summary-controller
   :from :mybank.digital-banking/single-page-app
   :to :mybank/accounts-summary-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.core-banking/loan-management-system-calls-loan-controller
   :from :mybank.core-banking/loan-management-system
   :to :mybank/loan-controller
   :name "retrieves loan information using"}

  {:el :request
   :id :mybank/risk-management-system-calls-risk-controller
   :from :mybank/risk-management-system
   :to :mybank/risk-controller
   :name "assesses risk using"}

  {:el :request
   :id :mybank/payment-gateway-calls-transaction-controller
   :from :mybank/payment-gateway
   :to :mybank/transaction-controller
   :name "validates transactions using"}

  {:el :request
   :id :mybank/analytics-system-calls-analytics-controller
   :from :mybank/analytics-system
   :to :mybank/analytics-controller
   :name "fetches analytical data using"}

  {:el :request
   :id :mybank.digital-banking/sign-in-controller-uses-security-component
   :from :mybank.digital-banking/sign-in-controller
   :to :mybank/security-component
   :name "uses"}

  {:el :request
   :id :mybank/reset-password-controller-uses-email-component
   :from :mybank/reset-password-controller
   :to :mybank/email-component
   :name "uses for sending password reset emails"}

  {:el :request
   :id :mybank/accounts-summary-controller-uses-mainframe-banking-system-facade
   :from :mybank/accounts-summary-controller
   :to :mybank/mainframe-banking-system-facade
   :name "retrieves account data from"}


  ;;
  ;; System Landscape level
  ;;
  {:el :rel
   :id :mybank.user-role/personal-customer-uses-atm
   :from :mybank.user-role/personal-customer
   :to :mybank/atm
   :name "withdraws cash using"}

  {:el :rel
   :id :mybank.user-role/personal-customer-asks-customer-service-staff
   :from :mybank.user-role/personal-customer
   :to :mybank.user-role/customer-service-staff
   :name "asks questions to"}

  {:el :rel
   :id :mybank/atm-uses-mainframe-banking-system
   :from :mybank/atm
   :to :mybank/mainframe-banking-system
   :name "retrieves account balance and validates transaction"}

  {:el :rel
   :id :mybank/customer-service-staff-uses-mainframe-banking-system
   :from :mybank.user-role/customer-service-staff
   :to :mybank/mainframe-banking-system
   :name "retrieves and updates customer information using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-loan-management-system
   :from :mybank.user-role/backoffice-staff
   :to :mybank.core-banking/loan-management-system
   :name "processes loan applications and updates loan status using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-risk-management-system
   :from :mybank.user-role/backoffice-staff
   :to :mybank/risk-management-system
   :name "assesses customer risk for loan approval using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-payment-gateway
   :from :mybank.user-role/backoffice-staff
   :to :mybank/payment-gateway
   :name "validates and processes payments using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-mainframe-banking-system
   :from :mybank.user-role/backoffice-staff
   :to :mybank/mainframe-banking-system
   :name "manages accounts and transactions using"}

  {:el :rel
   :id :mybank/customer-service-staff-uses-email-system
   :from :mybank.user-role/customer-service-staff
   :to :mybank/email-system
   :name "sends and receives customer communication using"}

  {:el :rel
   :id :mybank/customer-service-staff-uses-analytics-system
   :from :mybank.user-role/customer-service-staff
   :to :mybank/analytics-system
   :name "retrieves customer interaction data for analysis using"}

  {:el :rel
   :id :mybank/analytics-system-uses-mainframe-banking-system
   :from :mybank/analytics-system
   :to :mybank/mainframe-banking-system
   :name "gathers data for analysis from"}

  ;
  }