;;;;
;;;; Banking Example Model
;;;;
#{;
  ;;; 
  ;;; Roles
  ;;;

  ;; Nodes
  {:el :person
   :id :mybank/corporate-customer
   :external true
   :name "Corporate Customer"
   :desc "Corporate Customer of MyBank."}

  {:el :person
   :id :mybank/personal-customer
   :external true
   :name "Personal Customer"
   :desc "Personal Customer of MyBank."}

  ;; Relationships
  {:el :request
   :id :mybank/personal-customer-uses-digital-wallets-system
   :from :mybank/personal-customer
   :to :mybank.digital-banking/digital-wallets-system
   :name "uses"}

  ;;; 
  ;;; Organization
  ;;;

  ;; Nodes
  {:el :organization
   :id :mybank/my-bank-organization
   :name "My Bank"
   :desc "My Bank Company"
   :ct [{:el :org-unit
         :id :mybank.organization/personal-customers
         :name "Personal Customers"
         :desc ""
         :ct [{:el :org-unit
               :id :mybank.organization.personal-customers/internet-banking
               :name "Internet Banking"}
              {:el :org-unit
               :id :mybank.organization.personal-customers/personal-loans-org
               :name "Personal Loans"}
              {:el :org-unit
               :id :mybank.organization.personal-customers/mortgage-org
               :name "Mortgage"
               :desc ""}]}
        {:el :org-unit
         :id :mybank.organization/corporate-customers
         :name "Corporate Customers"
         :ct [{:el :org-unit
               :id :mybank.organization.corporate-customers/loans-org
               :name "Loans"
               :desc ""
               :ct []}]}
        {:el :org-unit
         :id :mybank.investments/investments-org
         :name "Investments"
         :desc ""
         :ct [{:el :org-unit
               :id :mybank.investments/asset-management-org
               :name "Asset Management"
               :desc ""}]}
        ;
        ]}

  ;;;
  ;;; Architecture
  ;;;
  
  ;; Nodes
  {:el :enterprise-boundary
   :id :mybank/mybank-plc
   :name "My Bank"
   :ct #{; Core Banking System
         {:ref :mybank.core-banking/context-boundary}

         ; Digital Banking
         {:ref :mybank.digital-banking/context-boundary}

         ; Payment Systems
         {:ref :mybank.payment/context-boundary}

         ; Risk Management and Compliance
         {:ref :mybank.compliance/context-boundary}

         ; Data Management and Analytics
         {:ref :mybank.data-management/context-boundary}

         ; Security
         {:ref :mybank.security/context-boundary}

         ; IT Management
         {:ref :mybank.it-management/context-boundary}

         ; Customer Channels
         {:ref :mybank.customer-channels/context-boundary}

         ; Integration and Middleware
         {:el :context-boundary
          :id :mybank/integration-middleware-context
          :name "Integration and Middleware"
          :desc "Facilitates integration across systems."
          :ct #{{:el :system
                 :id :mybank.integration-middleware/esb
                 :name "Enterprise Service Bus (ESB)"
                 :desc "Middleware for integrating various banking systems."
                 :tech "MuleSoft"}
                {:el :system
                 :id :mybank.integration-middleware/api-gateway
                 :name "API Gateway"
                 :desc "Manages APIs for third-party services and fintech apps."
                 :tech "Kong"}
                {:el :system
                 :id :mybank.integration-middleware/soa
                 :name "Service-Oriented Architecture (SOA)"
                 :desc "Framework for enabling seamless integration between services."
                 :tech "Apache CXF"}}}

         ; Financial Management
         {:ref :mybank.financial-management/context-boundary}

         ; Human Resources Management
         {:ref :mybank.human-resources/context-boundary}

         ; Project Management and Development
         {:ref :mybank.project-management/context-boundary}

         ; External Systems
         {:el :system
          :id :mybank/email-system
          :external true
          :name "E-mail System"
          :desc "The internal Microsoft Exchange email system."}}}

  ;; Relationships
  ;; Context Level
  {:el :request
   :id :mybank/personal-customer-uses-atm
   :from :mybank/personal-customer
   :to :mybank.customer-channels/atm
   :name "uses atm for balance information and withdrawals"}

  {:el :request
   :id :mybank/personal-customer-uses-internet-banking-system
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/internet-banking-system
   :name "views account balances and makes payments using"}

  {:el :send
   :id :mybank/email-system-sends-mail-to-personal-customer
   :from :mybank/email-system
   :to :mybank/personal-customer
   :name "sends e-mail to"}

  {:el :request
   :id :mybank.core-banking/loan-management-system-uses-account-management-system
   :from :mybank.core-banking/loan-management-system
   :to :mybank.core-banking/account-management-system
   :name "retrieves customer account information from"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-uses-payment-gateway-system
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.payment/payment-gateway-system
   :name "processes customer payments using"}

  {:el :request
   :id :mybank.payment/payment-gateway-system-uses-transaction-processing-system
   :from :mybank.payment/payment-gateway-system
   :to :mybank.core-banking/transaction-processing-system
   :name "validates and processes payments using"}

  {:el :request
   :id :mybank.compliance/risk-management-system-uses-transaction-processing-system
   :from :mybank.compliance/risk-management-system
   :to :mybank.core-banking/transaction-processing-system
   :name "fetches transaction history and customer data from"}

  ;; Container level
  {:el :request
   :id :mybank/personal-customer-uses-web-app
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/web-app
   :name "visits mybank.com via browser"
   :tech "HTTPS"}

  {:el :request
   :id :mybank/personal-customer-uses-single-page-app
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/single-page-app
   :name "views account balances and makes payments using"}

  {:el :request
   :id :mybank/personal-customer-uses-mobile-app
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/mobile-app
   :name "views account balances and makes payments using"}

  ;; System Landscape level
  {:el :rel
   :id :mybank/personal-customer-asks-customer-service-staff
   :from :mybank/personal-customer
   :to :mybank.customer-channels/customer-service-staff
   :name "asks questions to"}

  {:el :rel
   :id :mybank.customer-channels/atm-uses-account-management-system
   :from :mybank.customer-channels/atm
   :to :mybank.core-banking/account-management-system
   :name "retrieves account balance"}

  {:el :rel
   :id :mybank.customer-channels/atm-uses-transaction-processing-system
   :from :mybank.customer-channels/atm
   :to :mybank.core-banking/transaction-processing-system
   :name "validates transaction"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-loan-management-system
   :from :mybank.core-banking/backoffice-staff
   :to :mybank.core-banking/loan-management-system
   :name "processes loan applications and updates loan status using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-risk-management-system
   :from :mybank.core-banking/backoffice-staff
   :to :mybank.compliance/compliance-system
   :name "assesses customer risk for loan approval using"}

  {:el :rel
   :id :mybank/backoffice-staff-uses-payment-gateway
   :from :mybank.core-banking/backoffice-staff
   :to :mybank.payment/payment-gateway-system
   :name "validates and processes payments using"}

  {:el :rel
   :id :mybank/customer-service-staff-uses-email-system
   :from :mybank.customer-channels/customer-service-staff
   :to :mybank/email-system
   :name "sends and receives customer communication using"}
  ;
  }