;;;;
;;;; Views of the MyBank Model
;;;;
#{{:el :context-view
   :id :mybank/context-view
   :spec {:selection {:namespace-prefix "mybank"}
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "Context View"
   :title "Context View of the MyBank Systems"
   :desc "Context View of the MyBank Systems"}

  {:el :container-view
   :id :mybank/container-view
   :spec {:selection {:namespace-prefix "mybank"}
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "Banking Container View"
   :title "Container View of the MyBank Systems"
   :desc "Container View of the MyBank Systems"}

  {:el :deployment-view
   :id :mybank/deployment-view
   :spec {:selection {:namespace-prefix "mybank"}
          :plantuml {:sprite-libs [:awslib :azure :devicons]}}
   :name "Deployment View"
   :title "Deployment View for the MyBank Systems"}

  {:el :organization-structure-view
   :id :mybank/organization-structure-view
   :spec {:selection {:el :organization}}
   :title "MyBank Organization Chart"
   :desc "Shows the structure of the MyBank organization"}

  ;
  }