;;;;
;;;; Views of the MyBank Model
;;;;
#{;
  {:el :organization-structure-view
   :id :mybank.organization/organization-structure-view
   :selection {:id :mybank/my-bank-organization}
   :name "MyBank Organization Chart"
   :title "MyBank Organization Chart"
   :desc "Shows the hierarchical structure of the MyBank organization"}
  
  {:el :context-view
   :id :mybank/context-view
   :selection {:namespace-prefix "mybank"}
   :name "Context View"
   :title "Context View of the MyBank Systems"
   :desc "Shows the systems of MyBank"}

  #_{:el :container-view
     :id :mybank/container-view
     :selection {:namespace-prefix "mybank"}
     :name "Banking Container View"
     :title "Container View of the MyBank Systems"
     :desc "Shows the containers of the MyBank Systems"}

  {:el :model-view
   :id :mybank/model-view
   :selection {}
   :name "Model View"
   :title "Overview of the complete model"
   :desc "Shows the complete model graph"}
  
  {:el :glossary-view
   :id :mybank/glossary
   :selection {}
   :name "Glossary"
   :desc "Describes the relevant concepts of MyBank"}

  ;
  }