;;;;
;;;; MyBank Risk Management Domain Model
;;;;
#{;
  ;;;
  ;;; Organization
  ;;;
  {:el :org-unit
   :id :mybank.compliance/compliance-unit
   :name "Compliance and Risk Management"
   :desc "Responsible for the compliance and risk management of MyBank"
   :ct [{:el :org-unit
         :id :mybank.compliance/fraud
         :name "Fraud"}
        {:el :org-unit
         :id :mybank.compliance/regulations
         :name "Regulations"}
        {:el :org-unit
         :id :mybank.compliance/risk-management
         :name "Risk Management"}]}

  {:el :contained-in
   :id :mybank.compliance/compliance-unit-contained-in-my-bank-organization
   :from :mybank.compliance/compliance-unit
   :to :mybank/my-bank-organization
   :name "unit of"
   :desc "Compliance and Risk Management unit is part of MyBank."}

  {:el :responsible-for
   :id :mybank.compliance/regulations-unit-responsible-for-compliance-system
   :from :mybank.compliance/regulations
   :to :mybank.compliance/compliance-system
   :name "responsible for"
   :desc "Regulations unit is responsible for the compliance system."}
  
  {:el :responsible-for
   :id :mybank.compliance/risk-management-unit-responsible-for-risk-management-system
   :from :mybank.compliance/risk-management
   :to :mybank.compliance/risk-management-system
   :name "responsible for"
   :desc "Risk Management unit is responsible for the risk management system."}

  {:el :responsible-for
   :id :mybank.compliance/fraud-unit-responsible-for-fraud-detection-system
   :from :mybank.compliance/fraud
   :to :mybank.compliance/fraud-detection-system
   :name "responsible for"
   :desc "Fraud unit is responsible for the fraud detection system."}

  ;;;
  ;;; Roles
  ;;;
  {:el :person
   :id :mybank.compliance/risk-manager
   :name "Risk Manager"
   :desc "Responsible for managing the risks."}
  {:el :person
   :id :mybank.compliance/compliance-manager
   :name "Compliance Manager"
   :desc "Responsible for the compliance of MyBank."}
  {:el :person
   :id :mybank.compliance/fraud-specialist
   :name "Fraud specialist"
   :desc "Responsible for the fraud detection and mitigation of MyBank."}

  ;;;
  ;;; Role Assignments
  ;;; 
  {:el :role-in
   :id :mybank.compliance/risk-manager-role-in-risk-management
   :from :mybank.compliance/risk-manager
   :to :mybank.compliance/risk-management
   :name "function"}
  {:el :role-in
   :id :mybank.compliance/compliance-manager-role-in-regulations
   :from :mybank.compliance/compliance-manager
   :to :mybank.compliance/regulations
   :name "function"}
  {:el :role-in
   :id :mybank.compliance/fraud-specialist-role-in-fraud
   :from :mybank.compliance/fraud-specialist
   :to :mybank.compliance/fraud
   :name "function"}

  ;;;
  ;;; System Architecture
  ;;;
  {:el :context-boundary
   :id :mybank.compliance/context-boundary
   :name "Risk Management and Compliance"
   :desc "Detects and mitigates risks, ensuring regulatory compliance."
   :ct #{{:el :system
          :id :mybank.compliance/aml-system
          :name "Anti-Money Laundering (AML) System"
          :desc "Monitors and prevents money laundering activities."
          :tech "Python, Scikit-learn"}
         {:el :system
          :id :mybank.compliance/fraud-detection-system
          :name "Fraud Detection System"
          :desc "Detects and mitigates fraudulent activities."
          :tech "Python, TensorFlow"}
         {:el :system
          :id :mybank.compliance/compliance-system
          :name "Compliance System"
          :desc "Ensures operations comply with regulations."
          :tech "Java, Spring Boot"}
         {:el :system
          :id :mybank.compliance/risk-management-system
          :name "Risk Management System"
          :desc "Detects risks and manages risk mitigation."
          :tech "Java, Spring Boot"}}}

  {:el :request
   :from :mybank.compliance/compliance-manager
   :to :mybank.compliance/compliance-system
   :name "uses"
   :desc "generate compliance reports"}
  {:el :request
   :from :mybank.compliance/risk-manager
   :to :mybank.compliance/risk-management-system
   :name "uses"
   :desc "generate risk reports"}
  {:el :request
   :from :mybank.compliance/fraud-specialist
   :to :mybank.compliance/fraud-detection-system
   :name "uses"
   :desc "generate fraud reports"}
  ;
  }
