;;;;
;;;; MyBank User Roles Example
;;;;
#{;;;
  ;;; Nodes
  ;;;
  {:el :person
   :id :mybank.user-role/corporate-customer
   :external true
   :name "Corporate Customer"
   :desc "Corporate Customer of MyBank."}
  
  {:el :person
   :id :mybank.user-role/personal-customer
   :external true
   :name "Personal Customer"
   :desc "Personal Customer of MyBank."}
  
  {:el :person
   :id :mybank.user-role/customer-service-staff
   :name "Customer Service Staff"
   :desc "Customer service staff within the bank."}
  
  {:el :person
   :id :mybank.user-role/backoffice-staff
   :name "Backoffice Staff"
   :desc "Administration and support staff within the bank."}

  ;
  }