#{{:el :organization-structure-view
   :id :mybank.organization/organization-structure-view
   :spec {:selection {:id :mybank.organization/my-bank-organization}}
   :name "MyBank Organization Chart"
   :title "MyBank Organization Chart"
   :desc "Shows the structure of the MyBank organization"}}