;;;;
;;;; MyBank Internet Banking System Model
;;;;
#{;
  ;;;
  ;;; Use Cases
  ;;;
  {:el :use-case
   :id :mybank.digital-banking.internet-banking-system/view-account
   :level :user-goal
   :name "view account"
   :desc "view the details of an account"}
  {:el :use-case
   :id :mybank.digital-banking.internet-banking-system/transfer-money
   :level :user-goal
   :name "transfer money"
   :desc "transfer money from one account to another"}
  {:el :use-case
   :id :mybank.digital-banking.internet-banking-system/place-order
   :level :user-goal
   :name "place order"
   :desc "place an order for an account"}

  {:el :uses
   :id :mybank/personal-customer-wants-to-view-account
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/view-account
   :name "wants to"}
  {:el :uses
   :id :mybank/personal-customer-wants-to-transfer-money
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/transfer-money
   :name "wants to"}
  {:el :uses
   :id :mybank/personal-customer-wants-to-place-order
   :from :mybank/personal-customer
   :to :mybank.digital-banking.internet-banking-system/place-order
   :name "wants to"}

  ;;;
  ;;; Architecture
  ;;;
  {:el :system
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system
   :name "Internet Banking System"
   :desc "Allows customers to view information about their bank accounts and make payments."
   :ct #{{:el :container
          :id :mybank.digital-banking.internet-banking-system/web-app
          :name "Web Application"
          :desc "Delivers the static content and the internet banking single-page application."
          :tech "Clojure, Luminus"}
         {:el :container
          :id :mybank.digital-banking.internet-banking-system/single-page-app
          :name "Single-Page Application"
          :desc "Provides internet banking functionality to customers via their web browser."
          :tech "ClojureScript, Re-Frame"}
         {:el :container
          :id :mybank.digital-banking.internet-banking-system/mobile-app
          :name "Mobile App"
          :desc "Provides limited internet banking functionality to customers via mobile devices."
          :tech "ClojureScript, Reagent"}
         {:el :container
          :id :mybank.digital-banking.internet-banking-system/api-application
          :name "API Application"
          :desc "Provides internet banking functionality via a RESTful JSON/HTTPS API."
          :tech "Clojure, Liberator"
          :ct #{{:el :component
                 :id :mybank.digital-banking.internet-banking-system/sign-in-controller
                 :name "Sign In Controller"
                 :desc "Allows users to sign in to the banking system."
                 :tech "Clojure, Namespace"}
                {:el :component
                 :id :mybank.digital-banking.internet-banking-system/security-component
                 :name "Security Component"
                 :desc "Handles authentication, password changes, etc."
                 :tech "Clojure, Namespace"}
                {:el :component
                 :id :mybank.digital-banking.internet-banking-system/reset-password-controller
                 :name "Reset Password Controller"
                 :desc "Allows users to reset their passwords."
                 :tech "Clojure, Namespace"}
                {:el :component
                 :id :mybank.digital-banking.internet-banking-system/email-component
                 :name "E-mail Component"
                 :desc "Sends e-mails to users."
                 :tech "Clojure, Namespace"}
                {:el :component
                 :id :mybank.digital-banking.internet-banking-system/accounts-summary-controller
                 :name "Accounts Summary Controller"
                 :desc "Provides customers with a summary of their bank accounts."
                 :tech "Clojure, Namespace"}
                {:el :component
                 :id :mybank.digital-banking.internet-banking-system/core-banking-systems-facade
                 :name "Core Banking Systems Facade"
                 :desc "Facilitates interaction with the core banking systems."
                 :tech "Clojure, Namespace, Http Client"}}}
         {:el :container
          :subtype :database
          :id :mybank.digital-banking.internet-banking-system/database
          :name "Database"
          :desc "Stores user registration, authentication, and access logs."
          :tech "Datomic"}}}

  ;;;
  ;;; Relations
  ;;;  
  {:el :contained-in
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-contained-in-context-boundary
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.digital-banking/context-boundary
   :name "contained in"}

  {:el :implements
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-implements-place-order
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.digital-banking.internet-banking-system/place-order
   :name "implements"}
  {:el :implements
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-implements-transfer-money
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.digital-banking.internet-banking-system/transfer-money
   :name "implements"}
  {:el :implements
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-implements-view-account
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.digital-banking.internet-banking-system/view-account
   :name "implements"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-uses-email-system
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank/email-system
   :name "sends e-mail using"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-uses-account-management-system
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.core-banking/account-management-system
   :name "gets account information from, and makes payments using"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/internet-banking-system-uses-loan-management-system
   :from :mybank.digital-banking.internet-banking-system/internet-banking-system
   :to :mybank.core-banking/loan-management-system
   :name "fetches loan details and payment status from"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/mobile-app-calls-api-application
   :from :mybank.digital-banking.internet-banking-system/mobile-app
   :to :mybank.digital-banking.internet-banking-system/api-application
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/api-application-uses-database
   :from :mybank.digital-banking.internet-banking-system/api-application
   :to :mybank.digital-banking.internet-banking-system/database
   :name "reads from and writes to"
   :tech "Datalog"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/api-application-uses-email-system
   :from :mybank.digital-banking.internet-banking-system/api-application
   :to :mybank/email-system
   :name "sends e-mail using"
   :tech "SMTP"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/api-application-uses-account-management-system
   :from :mybank.digital-banking.internet-banking-system/api-application
   :to :mybank.core-banking/account-management-system
   :name "makes API calls to"
   :tech "REST"}

  ;;
  ;; Component level
  ;;
  {:el :request
   :id :mybank.digital-banking.internet-banking-system/single-page-app-calls-sign-in-controller
   :from :mybank.digital-banking.internet-banking-system/single-page-app
   :to :mybank.digital-banking.internet-banking-system/sign-in-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/single-page-app-calls-reset-password-controller
   :from :mybank.digital-banking.internet-banking-system/single-page-app
   :to :mybank.digital-banking.internet-banking-system/reset-password-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/single-page-app-calls-accounts-summary-controller
   :from :mybank.digital-banking.internet-banking-system/single-page-app
   :to :mybank.digital-banking.internet-banking-system/accounts-summary-controller
   :name "makes API calls to"
   :tech "Transit/HTTPS"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/sign-in-controller-uses-security-component
   :from :mybank.digital-banking.internet-banking-system/sign-in-controller
   :to :mybank.digital-banking.internet-banking-system/security-component
   :name "uses"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/reset-password-controller-uses-email-component
   :from :mybank.digital-banking.internet-banking-system/reset-password-controller
   :to :mybank.digital-banking.internet-banking-system/email-component
   :name "uses for sending password reset emails"}

  {:el :request
   :id :mybank.digital-banking.internet-banking-system/accounts-summary-controller-uses-core-banking-system-facade
   :from :mybank.digital-banking.internet-banking-system/accounts-summary-controller
   :to :mybank.digital-banking.internet-banking-system/core-banking-systems-facade
   :name "retrieves account data from"}

  ;
  }