;;;;
;;;; MyBank Internet Banking System Model
;;;;
#{;
  ;;;
  ;;; Use Case
  ;;;
  {:el :use-case-view
   :id :mybank.digital-banking.internet-banking-system/use-case-view
   :spec {:selection {:el :use-case-model-relation
                      :to {:namespace-prefix "mybank.digital-banking.internet-banking-system"}}
          :include :related}
   :name "Internet Banking System Use Case View"
   :title "Use Case View of the Internet Banking System"
   :desc "Shows the use cases and actors of the Internet Banking System."}
  
  ;;;
  ;;; Architecture
  ;;;
  {:el :context-view
   :id :mybank.digital-banking.internet-banking-system/context-view
   :selection [{:namespace-prefix "mybank.digital-banking.internet-banking-system"}
               {:to {:namespace-prefix "mybank.digital-banking.internet-banking-system"}}]
   :include :related
   :name "Internet Banking System Context View"
   :title "Context View of the Internet Banking System"
   :desc "Shows the Internet Banking System and its relations."}
  
  {:el :container-view
   :id :mybank.digital-banking.internet-banking-system/container-view
   :selection [{:namespace-prefix "mybank.digital-banking.internet-banking-system"}
               {:to {:namespace-prefix "mybank.digital-banking.internet-banking-system"}}]
   :include :related
   :name "Internet Banking System Container View"
   :title "Container View of the Internet Banking System"
   :desc "Shows the containers of the Internet Banking System and their relations."}
  
  {:el :component-view
   :id :mybank.digital-banking.internet-banking-system/component-view
   :selection [{:namespace-prefix "mybank.digital-banking.internet-banking-system"}
               {:to {:namespace-prefix "mybank.digital-banking.internet-banking-system"}}]
   :include :related
   :name "Internet Banking System Component View"
   :title "Component View of the Internet Banking System"
   :desc "Shows the containers and components of the domain Internet Banking System and their relations."}

  ; 
  }